.carousel-iphone{margin-right:auto;margin-left:auto;width:320px;height:672px;background:url('../img/iphone-front.png') no-repeat;background-size:100%;}
.carousel-samsung{margin-right:auto;margin-left:auto;width:320px;height:672px;background:url('../img/samsung-front.png') no-repeat;background-size:100%;}
.carousel{position:relative;margin-right:auto;margin-left:auto;padding:95px 0px 0px 4px;width:282px;}
.carousel-indicators .active{width:15px;height:15px;background:#444444;}
.carousel-indicators{bottom:-32px;}
.carousel-indicators li{display:inline-block;margin:1px;width:15px;height:15px;border:1px solid #666666;border-radius:10px;text-indent:-999px;cursor:pointer;}